/* * {
  outline: 1px solid red;
} */

.container-fluid {
  background-color: #636363;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 55px 20px black;
}

.first-div {
  text-align: center;
}

.articles {
  color: #016b6c;
  font-size: 30px;
}

.caption-of-articles {
  color: #636363;
  font-size: 18px;
}

.c1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.david-pic {
  max-width: 400px;
  height: 740px;
  background-image: url("./image/img-1.jpg");
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: grayscale(90%);
  padding-right: 2rem;
  padding-top: 15rem;
  object-fit: cover;
}

.david-talk {
  text-align: right;
  color: white;
  font-size: 30px;
}

.hosting {
  width: 55%;
  height: 500px;
}

@media screen and (max-width: 850px) {
  .david-pic,
  .hosting {
    flex: 0 0 100%;
  }
}

.top-hosting-pic {
  width: 100%;
  height: 250px;
  border-top-right-radius: 10px;
}

.caption-of-top-host {
  height: 400px;
  text-align: right;
  margin-top: 10px;
}

.caption-of-top-host h2 {
  color: #5d5d5d;
  font-size: 30px;
  font-weight: bold;
}

.caption-of-top-host p {
  color: #707070;
  font-size: 27px;
}

.info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  background-color: #f8f8f8;
}

.writer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.information-of-post {
  text-align: right;
  margin-right: 20px;
}

.c2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.c2-img1 {
  width: 509px;
  height: 300px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.r1-c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.c2-img2 {
  width: 400px;
  height: 300px;
  border-top-right-radius: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.caption-1-c2 {
  width: 500px;
  height: 220px;
  text-align: right;
}

.caption-2-c2 {
  text-align: right;
  width: 400px;
  height: 220px;
}

.caption-2-c2 h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.info-c2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  background-color: #f8f8f8;
  margin-top: 40px;
}

.c3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.c3-img1 {
  width: 380px;
  height: 380px;
}

.caption-1-c3 {
  width: 380px;
  text-align: right;
}

.info-1c3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  background-color: #f8f8f8;
  margin-top: 20px;
  margin-right: 10px;
}

.info-1c3 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.contact-us {
  padding: 10px;
}

.telegram {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.telegram div {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
}

.tel-img {
  background-color: #5ebae8;
  width: 120px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: cover;
}

.instagram {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instagram div {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 30px;
}

.insta-img {
  background-image: linear-gradient(to bottom, #fd7267, #f7638d);
  width: 120px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: cover;
}
